<div class="header">
    <div class="logo">
        <div class="title">
            Books store
        </div>
        <div class="admin-area">Admin area</div>
    </div>
    <div class="items">
        <a href="#" class="item">Home</a>
        <a href="#" class="item">Category</a>
        <button href="#" class="item" [disabled]="user!=null">Account</button>
    </div>
    <div class="search">
        <input type="search" placeholder="Search books...">
    </div>
    <div class="login">
        <button type="button" (click)="onConnexion()">{{user == null ? 'Login' : 'Logout'}}</button>
    </div>
</div>
